{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>

    <div  class="card text-primary border-success" style="width: 18rem; border-width: 5px">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
{% endblock content %}
