<div class="article" id="titleCast">

  <h2>Cast</h2>

      <table class="cast_list">
      <tbody><tr><td colspan="4" class="castlist_label">Cast overview, first billed only:</td></tr>
      <tr class="odd">
      <td class="primary_photo">
        <a href="/name/nm0000375/?ref_=tt_cl_i1"><img src="https://image.tmdb.org/t/p/w500/{{cast['profile_path']}}" height="44" width="32" ></a>          </td>
      <td>
        <a href="/name/nm0000375/?ref_=tt_cl_t1"> {{cast['name']}}
        </a>
      </td>



      <td class="ellipsis">
                  ...
      </td>
      <td class="character">
            <a href="/title/tt4154796/characters/nm0000375?ref_=tt_cl_t1">cast['character']</a>

      </td>
          </tr>

      </tbody>
      </table>
